.ContactUS {
    /* border: red 1px solid; */
    height: 87vh;
    margin-top: 8%;
    display: flex;
}
.firstSide{
    flex:1;
    /* border:green 1px solid; */

}
.secondSide {
    flex:1;
    /* border:magenta 1px solid; */
}
.thirdSide {
    flex:1;
    /* border:blue 1px solid; */
    overflow: hidden;
    padding-left: 5%;
    padding-top: 8%;
}
.secondSideMargin {
    /* border: red 1px solid; */
    width: 80%;
    height: 80%;
    margin-top: 23%;
    margin-left: 10%;
  }

  .texts {
    color: white;

    padding: 15%;
    height: 50%;
    margin: 5%;
  }
  .texts div {
    padding: 2%;
    font-size: 110%;
    font-weight: 600;
  }
  
  .texts h2 {
    padding: 1%;
  }

  @media only screen and (max-width: 1131px) {

    .texts div {
      padding: 2%;
      font-size: 80%;
      font-weight: 600;
    }
    .ContactUS {
 
      height: 87vh;
      margin-top: 12%;
     
  }
  }

  @media only screen and (max-width: 859px) {

    .texts div {
      padding: 2%;
      font-size: 110%;
      font-weight: 600;
    }
    .ContactUS {
      height: 250vh;
      
      display: flex;
      flex-direction: column;;
  }

  .secondSideMargin {
    /* border: red 1px solid; */
    width: 70%;
    /* height: 200%; */
    /* margin-top: 23%; */
    margin-left: 15%;
  }

  /* .frame {
    height: 429%;
} */

.thirdSide {

  /* padding-left: 2%; */
  margin-top: 10%;
 
}

  }
  
