.FirstPageComponentMain {
    height: 85vh;
    margin-top: 6%;
    color: white;
    font-family: 'Optima nova LT Pro';
}


.FirstPageComponent {
    display: flex;
    width:100%;
    height: 80%;
    /* margin-top: 6%; */
    /* border: red 1px solid; */
 
}
.FirstPageComponentLeft {
    flex:1;
    /* border: green 1px solid; */
    padding:5%
}

.FirstPageComponentRight {
    flex:1;
    /* border: magenta 1px solid; */
    padding: 5%;
}

.LeftComponent {
    /* border: blue 1px solid; */
height: 80%;
width:70%;
margin-top: 10%;
margin-left: 8%;
}
.FirstPageComponentLeft-Head {
    font-size: 174%;
    /* border: green 1px solid; */
    width: 85%
}
.FirstPageComponentLeft-Content {
    font-size: 110%;
    margin-top: 5%;
}
.FirstPageComponentRight-Content {
    /* border: greenyellow 1px solid; */
    height: 100%;
}

.ImgComponent {
    width: 80%;
    height: 100%;
}
.FirstPageHeader {
    font-size: 250%;
    margin-top: 8%;
    text-align: center;
    text-decoration: underline;
    border: white 1px solid ;
    width:25%;
background-color:rgba(2, 68, 119, 0.5);
margin-left: 35%;

}

@media only screen and (max-width: 1318px) {

    .FirstPageHeader {
        font-size: 200%;
        margin-top: 12%;
      
    
    }

    .FirstPageComponentLeft-Head {
        font-size: 150%;
        /* border: green 1px solid; */
        width: 85%
    }

    .FirstPageComponentLeft-Content {
        font-size: 90%;
        margin-top: 5%;
    }

}

@media only screen and (max-width: 845px) {

    .FirstPageHeader {
        font-size: 150%;
        margin-top: 15%;
      
    
    }

    .FirstPageComponentLeft-Head {
        font-size: 120%;
        /* border: green 1px solid; */
        width: 90%
    }

    .ImgComponent {
        width: 90%;
        height: 80%;
    }

    .FirstPageComponentLeft-Content {
        font-size: 70%;
        margin-top: 5%;
    }

}

@media only screen and (max-width: 620px) {
    .FirstPageHeader {
        font-size: 100%;
        margin-top: 20%;
      
    
    }

    .ImgComponent {
        width: 95%;
        height: 60%;
    }

}

@media only screen and (max-width: 500px) {


    .FirstPageComponent {
        display: flex;
        width:100%;
        height: 80%;
        flex-direction: column;
        /* margin-top: 6%; */
        /* border: red 1px solid; */
     
    }
}

@media only screen and (max-width: 456px) {

    .FirstPageHeader {
        font-size: 90%;
        margin-top: 25%;
      
    
    }

    .ImgComponent {
        width: 80%;
        height: 60%;
    }

}
