.container {
  display: flex;
  height: 70vh;
  /* border: green 1px solid; */
  margin: 6%;
  margin-top: 6%;
  display: flex;
  z-index: -1;
}

.container-one {
  flex: 2;
  z-index: -1;
}
.container-two {
  flex: 1;
  z-index: -1;
  /* border: magenta 1px solid; */
  flex-wrap: wrap;
}
.container-three {
  flex: 1;
  /* border: greenyellow 1px solid; */
}
.project {
  display: block !important;
  width: 20em;
  height: 15em;
  margin-top: 30%;
  align-items: flex-end;
}
.industries {
  display: block !important;
  width: 20em;
  height: 15em;
  padding: 0;
}

.employes {
  margin-top: 31%;
}
.employes,
.client,
.yearExpertise,
.retension {
  width: 25em;
  height: 7em;
}

.awards {
  width: 100%;
  margin-left: 1%;
  display: inline-flex;

  /* border: magenta 1px solid; */
}
.google,
.clutch,
.upwork {
  margin-top: 0%;
  width: 8rem;
  height: 8rem;
  z-index: -1;
}
.word {
  color: white;
  width: 100%;
  height: auto;
  /* border: 1px solid blue; */
  margin: 2%;
  font-family: "Optima nova LT Pro";
  overflow: hidden;
  /* margin-left: 5%; */
}

.para {
  color: white;
  padding: 5%;
  width: 85%;
  height: 75%;
  font-weight: 500;
  font-size: 101%;
  font-family: "Optima nova LT Pro";
  /* border: red 1px solid; */
  /* overflow-block: scroll; */
  word-wrap: break-word;
  /* margin-left: 8%; */
}
.TopWeb {
  /* height: 20%; */
  width: 80%;
  font-size: 200%;
  font-weight: 600;
  /* margin-left: 8%; */
  /* border: red 1px solid; */
  color: white;
  padding-top: 5%;
  padding-left: 5%;
}

@media only screen and (max-width: 1400px) {
  .container {

    height: 60vh;
  }
  .employes,
  .client,
  .yearExpertise,
  .retension {
    width: 15em;
    height: 6em;
    margin-top: 12%;
  }

  .project {
    width: 15em;
    height: auto;
  }

  .industries {
    width: 15em;
    height: auto;
  }

  .para p {
    font-size: smaller;
  }
  .TopWeb {
    font-size: 150%;
  }
  .awards img {
    width: 6em;
    height: 5em;
  }
}

@media only screen and (max-width: 850px) {
  .awards img {
    width: 3.5em;
    height: 3em;
  }

  .TopWeb {
    font-size: 120%;
  }
  .para p {
    font-size: 80%;
  }
  .project {
    margin-top: 50%;
    width: 10em;
    height: 10em;
  }

  .industries {
    margin-top: 50%;
    width: 10em;
    height: 10em;
  }
  .employes,
  .client,
  .yearExpertise,
  .retension {
    width: 10em;
    height: 6em;
    margin-top: 20%;
  }
}

@media only screen and (max-width: 625px) {
  .container {
    flex-wrap: wrap;
    height: 100vh;
  }

  .employes,
  .client,
  .yearExpertise,
  .retension {
    width: 10em;
    height: 6em;
    margin-left: 2%;
    margin-top: 0%;
  }
  .project {
    width: 10em;
    height: 10em;
  }

  .industries {
    width: 10em;
    height: 10em;
  }
}

@media only screen and (max-width: 380px) {
  .project {
    width: 6em;
    height: 10em;
    /* margin-top: 0%; */
  }

  .industries {
    width: 6em;
    height: 10em;
    margin-top: 10%;
  }

  .employes,
  .client,
  .yearExpertise,
  .retension {
    width: 6em;
    height: 2em;
    margin-left: 2%;
    margin-top: 0%;
  }
}
