.ThirdPageComplete {
  /* border: red 1px solid; */
  height: 78vh;
  color: white;
  font-family: "Optima nova LT Pro";
  margin-top: 8%;

}

.ThirdPageComponent {
  /* border: green 1px solid; */
  height: 80%;
  width: 65%;
  margin-left: 20%;
  margin-top: 3%;
  
  display: flex;
}
.ThirdPageLeft {
    flex:1;
    /* border: magenta 1px solid; */
}
.ThirdPageRight {
    flex:1;
    /* border: magenta 1px solid; */
}
.ThirdPageLeft img {
    width: 100%;
    height: 15%;
}
.ThirdPageRight img {
    width: 100%;
    height: 15%;
}
.TypesOfWebsite {
    font-size: 250%;
    margin-left: 28%;
}

@media only screen and (max-width: 1669px) {
.TypesOfWebsite {
    font-size: 200%;
    margin-left: 28%;
}

}

@media only screen and (max-width: 1495px) {
.TypesOfWebsite {
    font-size: 150%;
    margin-left: 28%;
}

}

@media only screen and (max-width: 1073px) {
.TypesOfWebsite {
    font-size: 150%;
    margin-left: 28%;
}

}

@media only screen and (max-width: 770px) {
.TypesOfWebsite {
    font-size: 70%;
    margin-left: 28%;
}

.ThirdPageLeft img {
    width: 70%;
    height: 10%;
}
.ThirdPageRight img {
    width: 70%;
    height: 10%;
}

.ThirdPageComplete {
  /* border: red 1px solid; */
  height: 60vh;
  color: white;
  font-family: "Optima nova LT Pro";
  margin-top: 8%;

}

}

@media only screen and (max-width: 622px) {

    .TypesOfWebsite {
        font-size: 130%;
        margin-left: 15%;
    }
    

    .ThirdPageComplete {

  height: 60vh;

}
.ThirdPageComponent {


  
  display: flex;
  flex-direction: column;;
}

.ThirdPageLeft img {
    width: 100%;
    height: 20%;
    
}
.ThirdPageRight img {
    width: 100%;
    height: 20%;
}

.ThirdPageLeft {
    flex:1;
   height: 30%;
}
.ThirdPageRight {
    flex:1;
    height: 60%;
   
}
}

@media only screen and (max-width: 510px) {
    .TypesOfWebsite {
        font-size: 120%;
        margin-left: 15%;
    }

}

@media only screen and (max-width: 460px) {
    .TypesOfWebsite {
        font-size: 100%;
        margin-left: 15%;
    }

}

@media only screen and (max-width: 387px) {
    .TypesOfWebsite {
        font-size: 80%;
        margin-left: 15%;
    }

}