.Portfolio {
  /* border: red 1px solid; */
  /* height: 80vh; */
  margin-top: 8%;
}

.Portfolio-false {
  margin-top: 0%;
}
.head {
  text-align: center;
  color: white;
  border: white 1px solid;
  padding: 1px;
  width: 15rem;
  height: 7%;
  font-weight: 600;
  font-size: 225%;
  align-content: center;
  text-decoration: underline 1px solid;
  margin-left: 45%;
}

.subDivision {
  display: inline-flex;
  color: white;
  width: 100%;
  /* border: green 1px solid; */
  margin-top: 2%;
  margin-left: 0%;
  /* gap: 10px; */
}
.subDivision label {
  font-weight: 600;
  margin-left: 5.5%;
  border: #7dfbfe 2px solid;
  padding: 0.5rem;
}

.limit {
  /* border: green 1px solid; */
  width: 90%;
  margin-bottom: 40px;
  margin-left: 5%;
  padding-left: 5%;
  margin-top: 5%;
  height: 55%;
  display: grid;
  grid-template-columns: 25rem 25rem 25rem 25rem;
  grid-template-rows:  37rem 37rem;
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}

.limit::-webkit-scrollbar {
  display: none;
}

.limit {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media only screen and (max-width: 1220px) {
  .Portfolio {
    /* border: red 1px solid; */
    /* height: 80vh; */
    margin-top: 12%;
  }

  .head {
    text-align: center;
    color: white;
    border: white 1px solid;
    padding: 1px;
    width: 15rem;
    height: 7%;
    font-weight: 600;
    font-size: 180%;
    align-content: center;
    text-decoration: underline 1px solid;
    margin-left: 45%;
  }

  .subDivision label {
    font-weight: 600;
    margin-left: 5.5%;
    border: #7dfbfe 2px solid;
    padding: 0.5rem;
    font-size: 60%;
  }
}

@media only screen and (max-width: 830px) {
  .Portfolio {
    margin-top: 20%;
  }

  .head {
    text-align: center;
    color: white;
    border: white 1px solid;
    padding: 1px;
    width: 10rem;
    height: 5%;
    font-weight: 600;
    font-size: 150%;
    align-content: center;
    text-decoration: underline 1px solid;
    margin-left: 45%;
  }

  .subDivision label {
    font-weight: 600;
    margin-left: 5.5%;
    border: #7dfbfe 2px solid;
    padding: 0.5rem;
    font-size: 40%;
  }
}

@media only screen and (max-width: 650px) {
  .Portfolio {
    margin-top: 20%;
  }

  .head {
    text-align: center;
    color: white;
    border: white 1px solid;
    padding: 1px;
    width: 8rem;
    height: 5%;
    font-weight: 600;
    font-size: 120%;
    align-content: center;
    text-decoration: underline 1px solid;
    margin-left: 45%;
  }

  .subDivision label {
    font-weight: 600;
    margin-left: 5.5%;
    border: #7dfbfe 2px solid;
    padding: 0.2rem;
    font-size: 40%;
  }
}

@media only screen and (max-width: 526px) {
  .Portfolio {
    /* border: red 1px solid; */
    /* height: 80vh; */
    margin-top: 20%;
  }

  .head {
    text-align: center;
    color: white;
    border: white 1px solid;
    padding: 1px;
    width: 5rem;
    height: 5%;
    font-weight: 600;
    font-size: 100%;
    align-content: center;
    text-decoration: underline 1px solid;
    margin-left: 45%;
  }

  .subDivision label {
    font-weight: 600;
    margin-left: 3%;
    border: #7dfbfe 2px solid;
    padding: 0.2rem;
    font-size: 40%;
  }
}

@media only screen and (max-width: 451px) {
  .Portfolio {
    /* border: red 1px solid; */
    /* height: 80vh; */
    margin-top: 25%;
  }

  .head {
    text-align: center;
    color: white;
    border: white 1px solid;
    padding: 1px;
    width: 5rem;
    height: 5%;
    font-weight: 600;
    font-size: 100%;
    align-content: center;
    text-decoration: underline 1px solid;
    margin-left: 45%;
  }

  .subDivision label {
    font-weight: 600;
    margin-left: 3%;
    border: #7dfbfe 2px solid;
    padding: 0.2rem;
    font-size: 40%;
  }
}

@media only screen and (max-width: 396px) {
  .Portfolio {
    /* border: red 1px solid; */
    /* height: 80vh; */
    margin-top: 25%;
  }

  .head {
    text-align: center;
    color: white;
    border: white 1px solid;
    padding: 1px;
    width: 5rem;
    height: 3%;
    font-weight: 600;
    font-size: 100%;
    align-content: center;
    text-decoration: underline 1px solid;
    margin-left: 45%;
  }

  .subDivision label {
    font-weight: 300;
    margin-left: 2%;
    border: #7dfbfe 2px solid;
    padding: 0.1rem;
    font-size: 30%;
  } 
}


@media only screen and (max-width: 1700px) {
  .limit {
 
    grid-template-columns: 25rem 25rem 25rem ;/* 25rem*/
    grid-template-rows: 37rem 37rem 37rem  ; /* 37rem 37rem*/
   
  }

}

@media only screen and (max-width: 1250px) {
  .limit {
 
    grid-template-columns: 25rem 25rem  ;/* 25rem*/
    grid-template-rows: 37rem 37rem 37rem 37rem ; /* 37rem 37rem*/
   
  }

}

@media only screen and (max-width: 772px) {
  .limit {
 
    grid-template-columns: 25rem   ;/* 25rem*/
    grid-template-rows: 20rem 20rem 20rem 20rem 20rem 20rem 20rem 20rem; /* 37rem 37rem*/
   
  }

}